.blogpostarea{
    line-height: 1.5em
}

.blogpostarea hr{
    margin: auto;
    @apply my-4 w-[50%] opacity-50;
}

.blogpostarea h2{
    @apply text-[1.2em] my-3;
}

.blogpostarea img{
    margin: auto;
    @apply py-8 w-[50%];
}

.blogpostarea blockquote, .blogpostarea pre {
    @apply py-2 px-4 bg-[#222] rounded my-4;
}

.blogpostarea code {
    @apply py-1 px-2 bg-[#222] rounded;
}

.blogpostarea pre code {
    @apply py-0 px-0 bg-[transparent] rounded;
}

.blogpostarea p{
    @apply my-4;
}

.blogpostarea ul{
    @apply my-4;
}

.blogpostarea li{
    @apply my-2;
}

.blogpostarea ul li {
    list-style-type: square;
    @apply ml-10;
}

.blogpostarea ol li {
    @apply ml-10;
    list-style-type: decimal-leading-zero;
}

.blogpostarea .task-list-item{
    @apply ml-0;
    list-style-type: none;
}

.blogpostarea a{
    @apply underline decoration-dotted underline-offset-4;
}

.blogpostarea table{
    @apply my-8;
}

.blogpostarea td, .blogpostarea th{
    @apply p-2;
    border: 1px solid rgba(255,255,255,0.2);
}